@Html.AntiForgeryToken()
@using Application.DTOs
@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "فرم ثبت سفارشات";
}
<form asp-controller="Home" asp-action="AddToOrder" method="post">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-xl-4 col-sm-6">
                <div class="card">
                    <div class="productItem" data-id=@item.Id>
                        <div class="product-image6 p-5">
                            <img class="img-fluid br-7 w-100" src="~/assets/images/products/@item.ImageFileName" alt="img">
                        </div>
                        <div class="card-body pt-0">
                            <div class="product-content text-center">
                                <h1 class="title fw-bold fs-6">@item.Name</h1>
                                <div class="mb-2 text-warning">
                                    @if (@item.Rate >= 5)
                                    {
                                        <i class="fa fa-star text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o text-warning"></i>
                                    }
                                    @if (@item.Rate >= 4)
                                    {
                                        <i class="fa fa-star text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o text-warning"></i>
                                    }
                                    @if (@item.Rate >= 3)
                                    {
                                        <i class="fa fa-star text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o text-warning"></i>
                                    }
                                    @if (@item.Rate >= 2)
                                    {
                                        <i class="fa fa-star text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o text-warning"></i>
                                    }
                                    @if (@item.Rate >= 1)
                                    {
                                        <i class="fa fa-star text-warning"></i>
                                    }

                                </div>
                                <div class="">
                                    <h8 class="title fw-bold fs-9 number-format">@item.Price ریال</h8>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }
</form>
</div>
<script src="~/js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".sendProductId").click(function () {
            let productId = $(this).closest(".productItem").data("id");
            let customerId = 1;
            let csrfToken = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: '/Home/AddOrderItem',
                type: 'POST',
                headers: {
                    'RequestVerificationToken': csrfToken
                },
                data: { CustomerId: customerId, ProductId: productId },
                beforeSend: function () {
                },
                success: function (response) {
                    $("#open-order-count").html(response);
                },
                error: function (xhr) {
                    alert("خطا در ارسال درخواست: " + xhr.statusText);
                }
            });
        });
    });
</script>